img {
    width: 16rem;
}

/*header section*/
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.nav-items {
    display: flex;
    gap: 2em;
    flex-wrap: inherit;   
    align-items: center;   
    justify-content: center;  
}

.nav-items a{
    font-size: 1.2em;
    text-decoration: none;
}

.nav-items a:link {
    color: #000;
}

.nav-items a:hover{
    text-decoration: underline;
    color: rgb(255, 133, 255);
}

.nav-items a:visited {
    color: rgb(0, 119, 137);
}

.nav-items a:active {
    color: lime;
}

/**/

/*Main section cards*/
.cardsdiv {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    padding: 1.5em;
    border: 2px solid black;
    border-radius: 50px;
}

.medication-img {
    width: 10em;
}

.card h1 {
    font-size: 2em;
    font-weight: bold;
}

/*contact form*/
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #41ff1b;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

label {
    width: 150px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}



